In [2]:
 import pandas as pd

In [11]:
df = pd.read_excel('my_excel_file.xlsx',sheet_name='First_Sheet')

In [12]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [13]:
wb = pd.ExcelFile('my_excel_file.xlsx')

In [14]:
wb.sheet_names

['First_Sheet', 'Sheet1']

In [17]:
excel_sheet_dict = pd.read_excel('my_excel_file.xlsx',sheet_name=None)

In [18]:
type(excel_sheet_dict)

dict

In [19]:
excel_sheet_dict.keys()

dict_keys(['First_Sheet', 'Sheet1'])

In [20]:
excel_sheet_dict['First_Sheet']

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [21]:
excel_sheet_dict

{'First_Sheet':     a   b   c   d
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15,
 'Sheet1': Empty DataFrame
 Columns: []
 Index: []}

In [22]:
our_df = excel_sheet_dict['First_Sheet']

In [23]:
our_df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [24]:
our_df.to_excel('example.xlsx',sheet_name='First_Sheet')

In [ ]:
our_df.to_excel('example.xlsx',sheet_name='First_Sheet',index=False)